body {background-color: rgb(229, 201, 248);}
   
   h1 {color:#94DAFF;
      }
.header {margin: 0%;
    padding: 0;
    border: 0ch;
    
}   
.mainpic {width: 100%;}
#headertext {color: rgb(111, 14, 238); font-size: 100px;
    position: fixed;
top: 50px;
right: 30px;
}